<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->

    <title>
    </title>
    <link rel="stylesheet" href="{% static "css/demo.css"%}"> 

  </head>
  <body>
    
    <marquee scrollamount="15"
direction="left"
behavior="scroll">
<h1>hellooooooooooooo jagunnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</h1>


</marquee>
<marquee scrollamount="15"
direction="right"
behavior="scroll">
<h2>i love mother indiaaaaaaaa</h2>


</marquee>

<h3>i love my indiaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
    
<marquee scrollamount="30"
direction="left"
behavior="scroll">

<img src="{% static "images/11.jpg"%}" alt=''>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static "images/5.jpg"%}" alt=''>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<img src="{% static "images/12.jpg"%}" alt=''>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</marquee>

    
  </body>
</html>
